<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <div class="container">
        <h1>Sign In</h1>
        <p style="text-align: center; margin-top: -20px; margin-bottom: 20px;">Welcome back! Please sign in to continue.</p>

        <% if (locals.msg) { %>
        <p class="msg"><%= msg %></p>
        <% } %>

        <form method="post" action="/user/signin">
            <label for="email">Email</label>
            <input 
              type="email" 
              name="email" 
              required id="email" 
              placeholder="e.g., john.doe@example.com"
            />
            <% if (locals.errors && locals.errors.email) { %>
            <p class="error-message"><%- errors.email %></p>
            <% } %>

            <label for="password">Password</label>
            <input 
              type="password" 
              name="password" 
              id="password" 
              placeholder="Enter your password"
            />
            <% if (locals.errors && locals.errors.password) { %>
            <p class="error-message"><%- errors.password %></p>
            <% } %>
            <button type="submit">Sign In</button>
        </form>

        <div class="switch-form">
            <p>
                Don't have an account?
                <a href="/user/signup">Sign up here!</a>
            </p>
        </div>
    </div>
  </body>
</html>
