<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
  </head>
  <body>
    <h2>URL Shortener</h2>
    <% if (locals.msg) { %>
     <%= msg %>
    <% } %>

    <h3>Login Below</h3>

    <form method="post" action="/user/signin">
      <label for="username">Email</label>
      <input type="text" name="email" required id="username"/>
      <% if (locals.errors && locals.errors.email) { %>
      <p><%- errors.email._errors[0] %></p>
      <% } %>

      <label for="password">Password</label>
      <input type="text" name="password" id="password" />
      <% if (locals.errors && locals.errors.password) { %>
      <p><%- errors.password._errors[0] %></p>
      <% } %>
      <button>submit</button>
    </form>
  </body>
</html>
